<h1>
  <%= @presentation.name %>
</h1>
<p>
  <%= @presentation.description %>
</p>

<%= link_to 'Edit', edit_client_presentation_path(@presentation.client, @presentation) %> |
<%= link_to 'Back', client_presentations_path %>
