<div id = "auth_controls">
  <%= link_to "Manage Users", users_path if current_user && current_user.administrator? %>

  <% if current_user %>
	<% if current_user.has_profile? %>
	  <%= link_to "My Account", edit_user_profile_path(current_user, current_user.profile) %> 
	<% else %>
	  <%= link_to "My Account", new_user_profile_path(current_user) %> 	
	<% end %>	
  <% end %>
	
  <%= link_to "Log Out", log_out_path if current_user %>
</div>