<h1>Listing clients</h1>

<ul>
<% @clients.each do |client| %>
    <li><%= link_to client.name, client %></li>
<% end %>
</ul>

<br />

<% if current_user.administrator? %>
	<%= link_to 'New Client', new_client_path %>
<% end %>