<h1><%= @client.name %></h1>
<p>
	<%= @client.description %>
</p>
<ul>
  <li><%= link_to "View Client Presentations", client_presentations_path(@client) %></li>
  <li><%= link_to 'Back to client list', clients_path %></li>
</ul>