<h1><%= @client.name %></h1>

<ul>
  <li><%= link_to "View Client Presentations", client_presentations_path(@client) %></li>
  <li><%= link_to 'New Presentation', new_client_presentation_path(@client) %></li>
  <li><%= link_to 'Back', clients_path %></li>
</ul>