$(document).ready(function (){
	$(".annotation_marker_container").hover(
		function() {
			addAnnotationDescriptionTo($(this));
		},
		function() {
			removeAnnotationDescriptionFrom($(this));
		});
		
		
	
	$("#annotation-image").on("click", function(e) {		
		var parentOffset = $(this).offset(); 
		var relX = e.pageX - parentOffset.left;
	   	var relY = e.pageY - parentOffset.top;

		create_annotation_form(relX, relY)
	});	
});



function addAnnotationDescriptionTo (annotationDiv) {
	$(".annotation_description").remove();
	var annotation_id = annotationDiv.data("annotation-id");
	var annotation_description = $("#annotation_list").find("[data-annotation-id='" + annotation_id + "']");
	annotationDiv.append("<div class = 'annotation_description'>" + annotation_description.html() + "</div>");
	$(".annotation_description").fadeIn();
}

function removeAnnotationDescriptionFrom (annotationDiv) {
	$(".annotation_description").fadeOut(function() {$(this).remove()});
}


function create_annotation_form(x,y) {
	if($(".new_annotation_container").length > 0)
	{
		return;
	}
	
	$.ajax({
	  url: new_concept_path,
	  success: function(data) {
	    	$("#annotation-image").append("<div class='new_annotation_container' style = 'left:" + x + "px;top:" + y + "px;'>" + data + "<a id='new_concept_close' href = '#'>Close</a></div>");
			$("#annotation_x").val(x); $("#annotation_y").val(y); $(".new_annotation_container").fadeIn();
$(".new_annotation_container textarea").focus();
			$("#new_concept_close").on("click", 
				function() {
					$(".new_annotation_container").hide(); 
					setTimeout(function() {$(".new_annotation_container").remove()}, 500 );
					return false;
				})
		  }	
	});
}