// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_annotation_container
{
	position: absolute;
	width: 200px;
	height: 220px;
	background-color: white;
	opacity: 0.9;
	display:none;
	padding: 5px;
	border: 1px solid #777;
}

.new_annotation_container textarea
{
	width:100%;
	height:100%;
}

#annotation-image
{
	position: relative;
}

.annotation_marker
{
	position: absolute;
	color: white;
}