h1{
    font-size: 24px;
}

h2{
    margin-top: 20px;
    font-size:18px;
}

header
{
	display:block;
	height: 60px;

	#auth_controls
	{
		float:right;
	}
}

#flash_messages
{
	padding: 10px;
	background-color: #C0D9AF;
	border: 3px solid #458B00;
	width:300px;
}


body
{
	text-align: center;
}
#container
{
	margin: 0 auto;
	width:900px;
	text-align: left;
}