h1, h2, h3, h4, h5
{
    margin-top: 20px;
	margin-bottom: 5px;
	color: #ce1141;
}

h1{
    font-size: 24px;
}

h2{
    font-size:18px;
}

a
{
	color: #888;
	outline: none;
}

a:hover, a:active
{
 	color: #ce1141
}

header
{
	display:block;
	height: 60px;

	h1 a
	{
		color: #ce1141;
		text-decoration: none;
	}

	#auth_controls
	{
		float:right;
	}
	h1 { float: left; }
}

#breadcrumbs
{
	padding: 10px 0;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

#flash_messages
{
	padding: 10px;
	background-color: #C0D9AF;
	border: 3px solid #458B00;
	width:300px;
}

.field_with_errors
{
	input
	{
		background-color: #FBB;
	}
	
}

body
{
	text-align: center;
	background-color: #F9F9F9;
	color: #010101;
	#container
	{
		margin: 0 auto;
		width:900px;
		text-align: left;
		
		
		p{
			line-height: 17px;
			margin-bottom: 10px;
		}

		hr
		{
			clear:both;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		img
		{

		border: 2px solid #EEE;
		}

		img.presentation_list_thumbnail
		{
			float:left;
			margin-right: 5px;
			margin-bottom: 5px;
		}
		
		#concept_image
		{
			width: 500px;
			display: inline-block;
		}
		
		#concept_description
		{
			float: right;
			width: 350px;
		}
	}
}

#Gallery li
{
	float: left;
	margin-right: 10px;
}

.field
{
	label
	{
		margin-top: 10px;
		display: block;
	}
}

.actions
{
display: inline;
}

input[type=submit], .button
{
	padding: 10px 12px 8px 12px;
	background: #AAA;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-top: 15px;
}

input[type=submit]:hover, .button:hover
{
	background-color: #CE1141;
	color: #FFF;
}

img#client_logo
{
	float: right;
}

#colorbox
{
	text-align: left;
}
